:root {
  --main-white: #eae0df;
  --main-red: #ed0b0c;
  --main-black: #010101;
  --dark-font: #333333;
  --light-font: #555555;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  background-color: var(--main-white); 
  /* overflow: hidden; */
}

/* NAVBAR */

header {
  background-color: var(--main-black);
  color: var(--main-white); 
  padding: 10px 20px;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 1000; 
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px; 
  width: 100%; 
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  /* display: inline; */
  margin: 0 10px;
}

nav ul li a {
  color: var(--main-white);
  text-decoration: none;
  font-weight: lighter;
  padding: 5px 10px;
}

nav ul li a:hover {
  color: var(--main-red); 
}

nav ul.active {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--main-black);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: slideIn 0.5s ease-in-out forwards;
}

nav ul.active li {
  margin: 20px 0;
}

nav ul li a.active {
  color: var(--main-red); 
}


@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.burger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
}

.burger-line {
  width: 100%;
  height: 3px;
  background-color: var(--main-white);
}


/* SOCIAL MEDIA NAVBAR */

.social-navbar {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--main-red); 
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px; 
  width: 60px; 
  z-index: 1000;
}

.social-navbar a {
  margin: 10px 0;
  display: block;
  transition: transform 0.3s ease;
}

.social-navbar a:hover {
  transform: scale(1.5);
}

.social-navbar i {
  width: 40px; 
  height: auto;
  color: var(--main-white); 
  text-align: center;
}

/* FOOTER */

footer {
  background-color: var(--main-black);
  color: var(--main-white); 
  text-align: center;
  font-size: 0.8rem;
  padding: 10px;
  position: fixed; 
  width: 100%;
  bottom: 0;
}


/* ABOUT US */

.container {
  width: 100%;
  margin: 100px auto;
  padding: 50px 120px 0 120px;
}

.about-list {
  list-style: none;
  font-size: 1.2rem;
  color: var(--light-font); 
  line-height: 1.6;
  margin: 10px 0;
}

.about-heading-main {
  font-size: 2.5rem;
  color: var(--dark-font); 
  margin-bottom: 20px;
}

.about-heading {
  font-size: 2rem;
  color: var(--dark-font);
  margin-top: 20px;
}

.about-p {
  font-size: 1.2rem;
  color:var(--light-font); 
  line-height: 1.6;
  margin: 10px 0;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
  .burger-menu {
    display: flex;
  }

  nav ul {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--main-black);
  }

  nav ul.active {
    display: flex;
  }

  nav ul li {
    margin: 20px 0;
  }

  main {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    margin-top: 60px;
  }

  .left-section,
  .right-section {
    width: 100%;
  }

  .logos {
    flex-direction: column;
  }

  .logo-link {
    margin: 10px 0;
  }

  .social-navbar {
    flex-direction: row;
    height: auto;
    width: 100%;
    top: auto;
    bottom: 0;
    transform: translateY(0);
    padding: 10px 0;
  }

  .social-navbar a {
    margin: 0 10px;
  }
  .container {
    width: 100%;
    margin: 100px auto;
    padding: 20px 20px 0 20px;
  }
}

@media (min-width: 1200px) {
  nav {
    justify-content: center; 
  }
}