.contact-container {
  max-width: 800px;
  margin: 350px auto;
  padding: 20px;
  text-align: center;
}

.contact-header {
  font-size: 3rem;
  color: var(--main-black);
  margin-bottom: 20px;
}

.contact-p {
  font-size: 1.5rem;
  color: var(--light-font); 
  margin: 10px 0;
}

.contact-link {
  color: var(--main-red); 
  text-decoration: none;
}

.contact-link:hover {
  text-decoration: underline; 
}
