@media (max-width: 768px) {
  .burger-menu {
    display: flex;
  }

  nav ul {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--main-black);
  }

  nav ul.active {
    display: flex;
  }

  nav ul li {
    margin: 20px 0;
  }

  main {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    margin-top: 60px;
  }

  .left-section,
  .right-section {
    width: 100%;
  }

  .right-section {
    margin-bottom: 50px;
  }

  .logos {
    flex-direction: column;
    margin-top: 20px;
  }

  .logo-link {
    margin: 10px 0;
  }

  .spotify-logo, .apple-music-logo {
    margin-right: 0; 
    margin-bottom: 5px; 
  }

  .social-navbar {
    flex-direction: row;
    height: auto;
    width: 100%;
    top: auto;
    bottom: 0;
    transform: translateY(0);
    padding: 10px 0;
  }

  .social-navbar a {
    margin: 0 10px;
  }
}

@media (min-width: 1200px) {
  nav {
    justify-content: center; 
  }
}