main {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  min-height: 100vh;
  background-image: url('../Images/video_bg.webp');
  background-position: center;
  background-size: cover; 
  background-repeat: no-repeat;
}

.video-container {
  display: flex;
  justify-content: center;
  margin: 0; 
}

.video-container iframe {
  width: 560px; 
  height: 315px; 
  max-width: 100%; 
  padding: 20px;
}


@keyframes flyInAndOut {
  0% {
    transform: translateX(100vw) translate(-50%, -50%); 
    opacity: 0; 
  }
  25% {
    transform: translateX(0) translate(-50%, -50%); 
    opacity: 1; 
  }
  75% {
    transform: translateX(0) translate(-50%, -50%); 
    opacity: 1; 
  }
  100% {
    transform: translateX(-100vw) translate(-50%, -50%); 
    opacity: 0; 
  }
}
