:root {
  /* --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;  */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  /* color: var(--main-white); */
}

/* NAVBAR */

header {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  margin-bottom: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 10px;
}

nav ul li a:hover {
  color: #ff0000; 
}

/* MAIN SECTION */

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 100vh; 
}

.left-section {
  position: relative;
  width: 60%;
  height: 100%;
}

.band-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /
}

.logo-image {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 150px; 
  height: auto;
}

.right-section {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ep-image {
  width: 100px; 
  height: auto;
}

/* FOOTER */
footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
  position: absolute;
  width: 100%;
  bottom: 0;
}


